.container{
    display: grid;
    grid-template-rows: repeat(3, 200px);
}

.container{
    border: 5px solid rgb(95,153, 28);
}

.grid-item{
    border: 2px solid red;
}

.item-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


#profil-pic{
    border-radius: 50%;
    padding: 20px;
    width: 150px;
}