.container{
    display: grid;
    grid-template-rows: repeat(8, auto);
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.grid-item{
    padding: 5px;
}

img{
    border-radius: 4px;
    float: left;
    padding: 5px;
    width: 100px;
}

.title{
    float: left;
}
.stack{
    border: solid black;
    position: relative;
    border-radius: 10px;
}

hr{
    border: 2px solid black;
}

.project{
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.contact-inline{
    display: inline;
}