body{
    background-color: #E5EAF5;
    color: #736F6E;
}

.project,
.stack,
svg,
.contact-inline{
    background-color: white ;
}

.container{
    display: grid;
    grid-template-rows: repeat(9, auto);
    margin: 40px 100px 40px;
    gap: 10px;
}

.grid-item{
    padding: 5px;
}

img{
    border-radius: 4px;
    float: left;
    width: 100px;
}

.introduction{
    margin-top: 30px;
}

.title{
    text-align: center
}

.stack{
    display: inline;
    border: solid grey;
    position: relative;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    text-align: center;
}

.stackdiv{
    text-align: center;
    margin-top: 20px;
}

hr{
    border: 2px solid black;
}

.project{
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.contact-inline{
    display: inline;
    border: solid grey;
    position: relative; 
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
}

.contactdiv{
    text-align: center;
}

